[Desktop Entry]
Type=Application
Name=Bitwarden
Icon=/home/geoffs/bitwarden.png
Exec=/home/geoffs/Bitwarden-2023.12.0-x86_64.AppImage
Terminal=false
Hidden=false
Categories=Utility