[Desktop Entry]
Type=Application
Name=Discord
Icon=/home/geoffs/Discord/discord.png
Exec=/home/geoffs/Discord/Discord
Terminal=false
Hidden=false
Categories=Network;InstantMessaging;